body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: "Roboto Mono", monospace;
}
.conter{
    font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.product-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    background-color: #fafafa;
}

.product img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin-top: 10px;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.mexer{
    transition: transform 0.3s ease;
}
.mexer:hover{
    transform: translateX(-20px);
}
ul{
    transition: transform 0.3s ease;
}
ul:hover{
    transform: scale(1.1); 

}